<% title "Forum" %>

<h3>Forum</h3>

<%= render "users/userinfo" %>

<div class="panel panel-success">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Forum</strong></div>

  <!-- Table -->
  <table class="table table-hover">
    <thead>
      <tr>        
        <th>Thema</th>
        <th>Diskussionen</th>
        <th>Beiträge</th>        
      </tr>
    </thead>
    <tbody>    	    
    	<% @forums.each do |forum| %>
    		<tr data-link="<%= forum_path(forum) %>" >
        		<td><strong><%= forum.name %></strong><br/><%= forum.description %></td>
        		<td><%= forum.discussions.count %></td>
        		<td><%= (forum.posts.count + forum.discussions.count) %></td>
      		</tr>
    	<% end %>    	
    </tbody>
  </table>  
</div>  
<br/>
Anzahl an registrierten Benutzer: <strong><%= User.all.count %></strong>