<h3>Übersicht</h3>

<% if user_signed_in? %>
	Sie sind als <%= current_user.username %> eingeloggt.
<% else %>
	Sie sind derzeit nicht eingeloggt. <%= link_to("Login", new_user_session_path) %></li>
<% end %>
<br/>
<br/>
<div class="panel panel-success">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong><%= @forum.name %></strong>
  	<%= link_to 'Neue Diskussion', new_discussion_path(forum_id: @forum.id), :class => "btn btn-xs btn-success spaced-btn pull-right", data: { no_turbolink: true } %>
  </div>

  <!-- Table -->
  <table class="table table-hover">
    <thead>
      <tr>      	
      	<td><small><strong>Diskussionsthema</strong></small></td>                
        <td><small>Beiträge</small></td>           
      </tr>
    </thead>
    <tbody>    	    
    	<% @forum.discussions.each do |discussion| %>
    		<tr data-link="<%= discussion_path(discussion) %>" >
        		<td><strong><%= discussion.title %></strong><br/>erstellt durch <%= discussion.user.username %></td>
        		<td><%= (discussion.posts.count + 1) %></td>
        		<td></td>        		       
      		</tr>
    	<% end %>    	
    </tbody>
  </table>  
</div>  
<br/>


<%= link_to 'Neue Diskussion', new_discussion_path(forum_id: @forum.id), :class => "btn btn-xs btn-success spaced-btn", data: { no_turbolink: true } %>
<br/>
<%= link_to 'Alle Foren', forum_path, :class => "btn btn-info btn-xs spaced-btn" %>

