<h3>Übersicht</h3>

<%= render "users/userinfo" %>

<div class="panel panel-success">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong><%= discussion.title %></strong>
  	<%= link_to 'Neuer Beitrag', new_post_path(discussion_id: discussion.id), :class => "btn btn-xs btn-success spaced-btn pull-right", data: { no_turbolink: true } %>
  </div>

	<div class="container-fluid">
		<div class="row info_box">
			<div class="col-xs-3">  
	        	<%= render partial: "discussions/short_user", locals: { user: discussion.user} %>
	        </div>
	        <div class="col-xs-9 nopadding">  
				<small>verfasst <%= discussion.created_at %></small>
				<hr>						        				
	        	<%= raw discussion.firstpost %>
	        </div>
	    </div>	   
	     	   
    	<% discussion.posts.each do |post| %>
    		<div class="row info_box">
				<div class="col-xs-3">					
		        	<%= render partial: "discussions/short_user", locals: { user: post.user} %>		        						
		        </div>
		        		        		       
		        <div class="col-xs-9 nopadding">  		        	
		        	<small>verfasst <%= post.created_at %></small>		        	
		        	<% if ((user_signed_in? && (current_user.id == post.user_id)) || current_user_admin?) %>
						<ul class="list-inline pull-right">
							<li>
								<%= link_to edit_post_path(post), data: { no_turbolink: true }, :class => "btn-warning btn-sm" do %>
									<i class="glyphicon, glyphicon glyphicon-pencil"></i>
								<% end %>
							</li>
							<li> 
								<%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-danger btn-sm"  do %>
									<i class="glyphicon, glyphicon glyphicon-trash"></i>
								<% end %>
							</li>
						</ul> 						
					<% end %>
					<hr>						        
		        	<%= raw post.body %>
		        	<% if (post.updated_at > post.created_at) %>
		        		<br/>
		        		<br/>
		        		<small>zuletzt bearbeitet <%= post.updated_at %></small>
		        	<% end %>
		        </div>
		    </div>		    
    	<% end %>    	
	</div>        
</div>
<small class="pull-right">(<%= discussion.impressionist_count %> Mal gesehen)</small>  
