<%= simple_form_for(@pearl) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">    
    <%= f.input :body %>
    <%= f.input :title %>        
    <%= f.input :image %>
  </div>

	<p>    
		Remove Image
		<%= image_tag(@pearl.image_url(:thumb)) if @pearl.image? %>
    	<%= f.check_box :remove_image %>         
  	</p>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
