<%= form_for(@pearl) do |f| %>





<% end %>
  


<%= simple_form_for(@pearl) do |f| %>

<%= f.error_notification %>  

  <div class="form-inputs" data-no-turbolink>
  	<%= f.input :title, :required => true, label: "Titel" %>                 
    <%= f.text_area :body, class: "ckeditor"  %>           
    <%= f.input :image, label: "Bild" %>
  </div>

	<p>    
		Remove Image		
    	<%= f.check_box :remove_image %>
    	<%= image_tag(@pearl.image_url(:thumb)) if @pearl.image? %>         
  	</p>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary btn-sm"  %>
  </div>
<% end %>