<% title "Gedankenperle: " + @pearl.title %>

<% content_for :head do %>

<meta property="og:name" content="<%= @pearl.title %>"/>
<meta property="og:type" content="<%= @pearl.body %>"/>
<meta property="og:description" content="link"/>
<% if @pearl.image_url.present? %>
	<meta property="og:picture" content="<%= @pearl.image_url(:thumb).to_s %>"/>
<% end %>
<meta property="og:url" content="<%= pearl_path(@pearl) %>"/>

<% end %>

<h3><%= @pearl.title %></h3>
von <%= @pearl.user.username %> ( <%= @pearl.impressionist_count %> Mal gesehen) 
<br/>
<%= social_share_button_tag(@pearl.title, :url => pearl_path(@pearl), :image => @pearl.image_url(:thumb).to_s,  :img => @pearl.image_url(:thumb).to_s) %>	
<br/>
<%= render partial: "pearl_navigation", locals: { pearl: @pearl} %>
<br/>

<div class="container-fluid">	
	<% if @pearl.image_url.present? %>
		<a href="<%= @pearl.image_url %>">			
    		<%= image_tag(@pearl.image_url, :class => "img-responsive") %>
    	</a>
    <% end %>	        	        
    <br />
	<div class="row">
		<%= raw @pearl.body %>
	</div>	     
    
    <br />
    
    <% if @pearl.comments.any? %>
    	<br />
	    <div class="row">
	    	<%= render partial: "comments/show", locals: { comments: @pearl.comments} %>
	    </div>	   	
    <% end %>   
    
    <% if ((user_signed_in? && (current_user.id == @pearl.user_id)) || current_user_admin?) %>		
	    <div class="row">
	    	 <%= render partial: "comments/form", locals: { comment: @comment} %> 		
		</div>	   		
	<% end %>
        
</div>
<br/>


<% if ((user_signed_in? && (current_user.id == @pearl.user_id)) || current_user_admin?) %>
<br/>
<br/>
<br/>			
	<div class="btn-toolbar" data-no-turbolink>		
		<%= link_to 'Ändern', edit_pearl_path(@pearl), data: { no_turbolink: true }, :class => "btn btn-warning btn-xs spaced-btn" %> 
		<%= button_to 'Löschen', @pearl, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs spaced-btn" %>
	</div>
<% end %>
