<%= tinymce %>

<%= simple_form_for(@post) do |f| %>  
  <div class="form-inputs">
    
    <%= f.label :body, 'Beitrag', :required => true %>    	
	<%= f.text_area :body, class: "tinymce", :rows => 25, :cols => 120 %>


    <%= f.association :discussion, :as => :hidden %>

    <%= f.association :user, :as => :hidden %>

  </div>
  <br/>  
  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary btn-sm"  %>
  </div>
<% end %>
