<nav role="navigation" class="navbar navbar-inverse">    
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>   
    </div>
    
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav nav-pills">        	
        	<%= active_link_to "Einfach machen", root_path, :active => :exclusive, :wrap_tag => :li %>                                    
            <%= active_link_to "Was biete ich", what_do_i_offer_path, :wrap_tag => :li %>            
            <%= active_link_to "Wer bin ich", who_am_i_path, :wrap_tag => :li %>
            <%= active_link_to "Wochen-Perlen", weekly_pearls_path, :wrap_tag => :li, data: { no_turbolink: true } %>
            <%= active_link_to "Forum", forums_path, :wrap_tag => :li, data: { no_turbolink: true } %>            
        </ul>        
        <ul class="nav navbar-nav navbar-right">        	
            <%= active_link_to "Kontakt", contact_path, :wrap_tag => :li, data: { no_turbolink: true }  %>                          
            <% if user_signed_in? %>
            	<li><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></li>
            <% else %>
            	<li><%= link_to("Login", new_user_session_path) %></li>
            <% end %>
            
        </ul>
    </div>
</nav>

