<nav role="navigation" class="navbar navbar-inverse">    
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>   
    </div>
    
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        	<li><%= link_to("Einfach machen", root_path) %></li>                        
            <li><%= link_to("Was biete ich", pages_what_path) %></li>
            <li><%= link_to("Wer bin ich", pages_who_path) %></li>
            <li><%= link_to("Wochen-Perlen", pages_pearl_path) %></li>
            <li><%= link_to("Forum", pages_forum_path) %></li>            
        </ul>        
        <ul class="nav navbar-nav navbar-right">        	
            <li><%= link_to("Kontakt", pages_contact_path) %></li>            
            <% if user_signed_in? %>
            	<li><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></li>
            <% else %>
            	<li><%= link_to("Login", new_user_session_path) %></li>
            <% end %>
            
        </ul>
    </div>
</nav>

